  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello Jasper
      </h1>
      <a href="/" class="subtitle">
        My first website with <strong>Memes</strong>!
        <ul>
            {{#each people}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
      </a>
    </div>
  </section>